<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<p id="p">[sāng]    </p>
	<h3>丧</h3>
	<p>丧是一个汉字，读作sàng/sāng，本意是指丧失，也有丢掉，失去的意思。该文字在《礼记·檀弓上》和《商君书·更法》等文献均有记载。</p>
	<h2>检查</h2>
	<p>根据具体情况有选择地进行结合临床表现分析判断。如血常规、尿常规病原体检查(直接涂片、培养、特异性抗原抗体检测、分子生物学检测等)、X线、B型超声、CT、MRI、ECT检查，组织活检(淋巴结、肝、皮肤黏膜)、骨髓穿刺等。</p>
</body>
</html>