<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		.main{
			height: 280px;
			color: green;
		}
		a{
			color: red;
		}
		.img{
			width: 200px;
			height: 200px;
			float: left;
		}
		img{
			width: 100%;
			height: 100%;
			float: left;
		}
		h3{
			color: black;
		}
		.main .img_one{
			height: 200px;
			width: 200px;
		}
	</style>
</head>
<body>
	<div class="main">
	<h3>陈志朋回应家中庙宇被烧：“复仇”实属无稽之谈</h3>
	<div class="img"><img src="https://n.sinaimg.cn/ent/transform/775/w630h945/20190412/cLGu-hvntnkq9844153.jpg">
	</div>
	<p>12日下午，陈志朋发文回应父母家庙宇被人纵火，称：“请放心，目前无人员受伤。”，并表示有人揣测的“复仇”实属无稽之谈。	<a href="">[详细]</a></p>
	</div>
	<div class="main">
	<h3>组图：本田翼就任时尚品牌大使 谈春日的时尚感4</h3>
		<img class="img_one" src="http://n.sinaimg.cn/ent/4_img/upload/bebc130b/366/w700h466/20190412/jl1e-hvntnkq9958143.jpg">
		<img class="img_one" src="http://n.sinaimg.cn/ent/4_img/upload/bebc130b/366/w700h466/20190412/TW6f-hvntnkq9958164.jpg">
		<img class="img_one" src="http://n.sinaimg.cn/ent/4_img/upload/bebc130b/366/w700h466/20190412/1qgt-hvntnkq9958168.jpg">
	<p>新浪娱乐讯 4月9日，本田翼出席了在东京举行的品牌大使就任活动，这是该品牌的首位日本大使，活动当天本田翼穿了粉色的碎花连衣裙，春日气息扑面而来。	<a href="">[详细]</a></p>
	</div>
	<div class="main">
	<h3>何炅发文为魏大勋庆生 调皮要求请客标准稍微上调</h3>
	<div class="img"><img src="https://n.sinaimg.cn/ent/transform/0/w576h1024/20190412/lPTk-hvntnkq9934113.jpg">
	</div>
	<p>	12日上午，何炅转发魏大勋微博为其庆生，配文调侃魏大勋道：“你看请我吃饭的标准是不是可以往上略调一点点呢？”互动很是有爱。[详细]<a href="">[详细]</a></p>
	</div>
</body>
</html>