<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<p id="p">[fā shāo]  </p>
	<h3>发烧</h3>
	<p>发烧（fever），也称发热，是指致热原直接作用于体温调节中枢、体温中枢功能紊乱或各种原因引起的产热过多、散热减少，导致体温升高超过正常范围的情形。每个人的正常体温略有不同，而且受时间、季节、环境、月经等因素的影响。一般认为当口腔温度高于37.5 ℃，腋窝温度高于37℃，或一日之间体温相差在1℃以上，即为发烧。发烧是临床上最常见的症状，是疾病进展过程中的重要临床表现，可见于多种感染性疾病和非感染性疾病。但有时体温升高不一定都是疾病引起的，某些情况可有生理性体温升高，如剧烈运动、月经前期及妊娠期，进入高温环境或热水浴等均可使体温较平时略高，这些通过自身调节可恢复正常</p>
	<h2>检查</h2>
	<p>根据具体情况有选择地进行结合临床表现分析判断。如血常规、尿常规病原体检查(直接涂片、培养、特异性抗原抗体检测、分子生物学检测等)、X线、B型超声、CT、MRI、ECT检查，组织活检(淋巴结、肝、皮肤黏膜)、骨髓穿刺等。</p>
</body>
</html>