<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<h3>恶魔</h3>
	<p>在唯物主义的世界观中，恶魔被认为是宗教文化里虚构的特别强大的魔鬼，实则是并不存在的。唯心主义者认为魔鬼也被形容为心魔，魔鬼在于自己的内心。总而言之，恶魔被一致认为是拥有超自然力量的邪恶存在代表形象。现今，常被社会刻画于文学影视等文化作品中。</p>
	<h2>象征</h2>
	<p>恶魔是邪恶的象征，被描述为神和人类的敌人，会以其力量欺骗、操纵或蹂躏人类。</p>
	<p>人类文化早期的泛灵论时代，多数宗教认为神是向善的，而有邪恶精灵或所谓恶作剧精灵造成灾祸。</p>
	<p>进入多神教时代，人们相对于代表正义的善神而虚构出代表邪恶势力的恶神，认为善恶彼此共存。例如源于波斯、巴比伦等地的宗教主张善恶二元论，试图为人类揭示光明与黑暗两股势力的源头。这一时期出现了诸如萨满宗教中为人带来疾病等灾厄的“恶灵”等传说</p>
	<p>有些的基督教教派将一些其他民族崇拜的神都视为恶魔。在旧约圣经中多次提到埃及人、巴比伦人崇拜的神是邪灵，并认为以通灵术闻名的巫师是和邪灵沟通。到了新约圣经的时代，基督教认为神的敌对者堕落天使是恶魔的由来，并在宗教典籍中多次提到恶魔之王撒旦。</p>
</body>
</html>