<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<h3>失望</h3>
	<p>失望是一个汉语词汇，拼音是shī wàng，指丧失信心；希望没能实现。表示一种心理的期待落空。见《孟子·尽心上》：“达不离道，故民不失望焉。”
TA说</p>
	<h2>基本解释</h2>
	<p>丧失信心；希望没能实现。
他们威胁他，搜索他，结果却连一个铜元也没有，失望之余就抢走了他的怀表和钢笔。——《同志的信任》</p>
	<p>希望未实现而不愉快。
这个企业曾使我们当中对它抱有很大希望的那些人感到失望如果你到我的故乡蓬莱去看海市蜃楼，时令不巧，看不见也不必失望。——《海市</p>
	<p>丧失希望；不遂所望。</p>
	<p>犹言没预料到。</p>
	<p> 犹言没见过。</p>
</body>
</html>