<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			color: black;
			margin-left: 440px;
			font-size: 30px;

		}
		h1{
			margin-left: 500px;
			color: red;
			font-size: 60px;
		}
		p{
			color: green;
			font-size: 20px;
			text-indent: 2em;
		}
		h2{
			margin-left: 40px;
			color: #ccc;
			font-size: 30px;
		}
	</style>
</head>
<body>
<p id="p">[gǎn mào]</p>
<h1>感冒</h1>
<p>百姓所说的感冒是指“普通感冒”，又称“伤风”、急性鼻炎或上呼吸道感染。感冒是一种常见的急性上呼吸道病毒性感染性疾病，多由鼻病毒、副流感病毒、呼吸道合胞病毒、埃可病毒、柯萨奇病毒、冠状病毒、腺病毒等引起。临床表现为鼻塞、喷嚏、流涕、发热、咳嗽、头痛等，多呈自限性。大多散发，冬春季节多发，但不会出现大流行。</p>
<h2>病因</h2>
<p>鼻病毒、副流感病毒、呼吸道合胞病毒、埃可病毒、柯萨奇病毒、冠状病毒、腺病毒等病毒感染引起。</p>
<h2>临床表现</h2>
<p>本病起病较急，潜伏期1～3天，主要表现为鼻部症状，如喷嚏、鼻塞、流清水样鼻涕，也可表现为咳嗽、咽干、咽痒、咽痛或灼热感，甚至鼻后滴漏感。2～3天后鼻涕变稠，常伴咽痛、流泪、味觉减退、呼吸不畅、声嘶等。一般无发热及全身症状，或仅有低热、不适、轻度畏寒、头痛</p>
</body>
</html>