<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<h3>恐惧</h3>
	<p>恐惧是一个汉语词汇，读音为kǒng jù，意思是惊慌害怕，惶惶不安。出自于《易·震》：“洊雷，震，君子以恐惧修省。”</p>
	<h2>引证详解</h2>
	<p>惊慌害怕，惶惶不安。</p>
	<p>一只狗在漆黑的夜里狂犬，我并不知道它看到了什么，连它都恐惧所以我并没有出去看看。</p>
	<p>比失败更令人恐惧的是懊悔。</p>
	<p>在千篇一律的病房里，他们感到恐惧而又无能为力。</p>
	<p>我要克服所有的软弱、绝望和恐惧。</p>
</body>
</html>