<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#p{
			font-size: 20px;
			margin-left: 460px;
			color: #ccc;
		}
		h3{
			font-size: 50px;
			color: red;
			margin-left: 500px;
		}
		p{
			text-indent: 2em;
			color: green;
		}
		h2{
			color: #ccc;
			margin-left: 30px;
		}
	</style>
</head>
<body>
	<h3>阴暗</h3>
	<p>阴暗，读音yīn àn，汉语词语，基本意思为缺乏光亮。</p>
	<h2>引证释义</h2>
	<p>《后汉书·郎顗传》：“窃见正月以来，阴闇连日。” 唐 元稹 《苦雨》诗：“烦昏一日内，阴暗三四殊。”
　　清 纳兰性德 《别意》诗：“芭蕉阴暗玉绳斜，风送微凉透纱。”
　　曹禺 《日出》第一幕：“窗外一座座的大楼，遮住了光线，屋里显得很阴暗。” [1] </p>
	<p>梁斌 《红旗谱》五五：“ 江涛 看她脸上阴暗下来，握起她的手说：‘不回去又怎么办？’”
　　柳青 《创业史》第一部第十七章：“但是 梁三老汉 并不高兴，他仍然是进门时的阴暗表情。”
　　沙汀 《困兽记》七：“她没有说完，她的脸色又阴暗了，恢复了一向消沉、不快的常态。</p>
	<p>不可告人的，不光明正大的。</p>
</body>
</html>